<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="target-definition-3.8.2" sequenceNumber="12">
<locations>
<location path="${workspace_loc:org.iviPro.target}/gef" type="Directory"/>
<location path="${workspace_loc:org.iviPro.target}/eclipse-sdk-3.8.2" type="Directory"/>
</locations>
</target>
