<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.iviPro.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.iviPro.application.Perspective"
            id="org.iviPro.perspective"
            name="%PERSPECTIVE_DEFAULT_TITLE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.iviPro.views.scenerepository.SceneRepository"
            id="org.iviPro.views.scenerepository.SceneRepository"
            name="%VIEW_SCENEREPOSITORY_TITLE">
      </view>
      <view
            allowMultiple="false"
            class="org.iviPro.views.mediarepository.MediaRepository"
            id="org.iviPro.views.mediarepository.MediaRepository"
            name="%VIEW_MEDIAREPOSITORY_TITLE">
      </view>
      <view
            class="org.iviPro.views.informationview.InformationView"
            id="org.iviPro.views.informationview.InformationView"
            name="%VIEW_INFORMATION_TITLE">
      </view>
      <view
            allowMultiple="false"
            class="org.iviPro.views.miniaturegraph.MiniatureGraph"
            id="org.iviPro.views.miniaturegraph.MiniatureGraph"
            name="%VIEW_MINIATUREGRAPH_TITLE">
      </view>
      <view
			allowMultiple="false"
			class="org.eclipse.ui.ExtensionFactory:progressView"
			category="org.eclipse.ui"
			id="org.eclipse.ui.views.ProgressView"
			name="%VIEW_PROGRESS"
			icon="icons/pview.gif">
	</view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.iviPro.mediaaccess.player.MediaPlayerWidget"
            default="true"
            id="org.iviPro.mediaaccess.player.MediaPlayerWidget"
            name="%VIEW_MEDIAPLAYER_TITLE">
      </editor>
      <editor
            class="org.iviPro.editors.imageviewer.ImageViewer"
            default="false"
            id="org.iviPro.editors.imageviewer.ImageViewer"
            name="%IMAGEVIEWER">
      </editor>           
      <editor
            class="org.iviPro.editors.sceneeditor.SceneEditor"
            default="true"
            id="org.iviPro.editors.sceneeditor.SceneEditor"
            name="%EDITOR_SCENE_TITLE">
      </editor>
      <editor
            class="org.iviPro.editors.audioeditor.AudioEditor"
            default="true"
            id="org.iviPro.editors.audioeditor.AudioEditor"
            name="%EDITOR_AUDIO_TITLE">
      </editor>      
      <editor
            class="org.iviPro.editors.annotationeditor.AnnotationEditor"
            default="true"
            id="org.iviPro.editors.annotationeditor.AnnotationEditor"
            name="%EDITOR_ANNOTATION_TITLE">
      </editor>
      <editor
            class="org.iviPro.editors.scenegraph.SceneGraphEditor"
            default="true"
            id="org.iviPro.editors.scenegraph.SceneGraphEditor"
            name="%EDITOR_SCENEGRAPH_TITLE">
      </editor> 
      <editor
            class="org.iviPro.mediaaccess.player.MediaPlayerView"
            default="true"
            id="org.iviPro.mediaaccess.player.MediaPlayerView"
            name="%EDITOR_MEDIA_PLAYER_VIEW">
      </editor>                 
      <editor
            class="org.iviPro.editors.richtextviewer.RichtextViewer"
            default="true"
            id="org.iviPro.editors.richtextviewer.RichtextViewer"
            name="%EDITOR_RICHTEXT_TITLE">
      </editor>
      <editor
            class="org.iviPro.editors.subtitleviewer.SubtitleViewer"
            default="true"
            id="org.iviPro.editors.subtitleviewer.SubtitleViewer"
            name="%EDITOR_SUBTITLE_TITLE">
      </editor>      
      <editor
            class="org.iviPro.editors.toc.TocEditor"
            default="true"
            id="org.iviPro.editors.toc.TocEditor"
            name="%TOC_EDITOR">
      </editor>
      <editor
            class="org.iviPro.editors.annotationeditor.GlobalAnnotationEditor"
            default="true"
            id="org.iviPro.editors.annotationeditor.GlobalAnnotationEditor"
            name="%EDITOR_GLOBAL_ANNOTATION_EDITOR">
      </editor>
      <editor
            class="org.iviPro.preview.Preview"
            default="true"
            id="org.iviPro.preview.Preview"
            name="%PREVIEW">
      </editor>
      <editor
            class="org.iviPro.editors.shotoverview.ShotOverviewEditor"
            default="false"
            id="org.iviPro.editors.shotoverview.ShotOverviewEditor"
            name="Shot-Editor">
      </editor>
      <editor
            class="org.iviPro.editors.shotoverview.SceneOverviewEditor"
            default="false"
            id="org.iviPro.editors.shotoverview.SceneOverviewEditor"
            name="SceneOverviewEditor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.iviPro.ui.application"
            name="SIVA Producer">
            <property name="windowImages" value="branding/orange/logo/SIVA Logo_16x16.png,branding/orange/logo/SIVA Logo_32x32.png,branding/orange/logo/SIVA Logo_48x48.png"/>
            <property name="aboutImage" value="branding/orange/about/about.png"/>
            <property
                  name="aboutText"
                  value="SIVA Producer&#x0A;&#x0A;Version 0.7&#x0A;(c) 2015 - All rights reserved&#x0A;&#x0A;Programmers (alphabetic order):&#x0A;Emanuel Berndl, Christian Dellwo, Mailan Dinh-Thanh, Manuel Feifel, Christoph Grill, Christian Handschigl, Jürgen Hoffmann, Stefan John, Johannes Köstler, Andreas Lang, Britta Meixner, Florian Niederhuber, Tristan Schneider, Stefan Zwicklbauer"/>
            <property name="appName" value="SIVA Producer"/>
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.iviPro.application.StartupExtension">
      </startup>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
	<extension
         point="org.eclipse.ui.activities">
      <activity
            id="My.unwanted.commands"
            name="Unwanted Commands">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="unwanted">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="My.unwanted.commands"
            pattern="org.eclipse.ui.window.showKeyAssist">
      </activityPatternBinding>
   </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <scheme
          id="org.iviPro.ui.bindings"
          name="KeyBindings"
          parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </scheme>
    <key
          commandId="org.iviPro.ui.ProjectCreateNewAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+N">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectOpenAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+O">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectSaveAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+S">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectSaveAsAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+SHIFT+S">
    </key>    
    <key
          commandId="org.iviPro.ui.MediaLoadAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+L">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectExportAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+E">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectHandOverAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+SHIFT+E">
    </key>
    <key
          commandId="org.iviPro.ui.ProjectCloseAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+W">
    </key>
    <key
          commandId="org.eclipse.ui.file.exit"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+SHIFT+W">
    </key>
    <key
          commandId="org.iviPro.ui.OpenTocEditorAction"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="CTRL+T">
    </key>
    <key
          commandId="org.eclipse.ui.help.helpContents"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.iviPro.ui.bindings"
          sequence="F1">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="org.iviPro.ui.ProjectCreateNewAction"
          name="CreateNewProjectAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectOpenAction"
          name="LoadProjectAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectSaveAction"
          name="SaveProjectAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectSaveAsAction"
          name="SaveProjectAsAction">
    </command>    
    <command
          id="org.iviPro.ui.MediaLoadAction"
          name="LoadMediaAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectExportAction"
          name="ExportProjectAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectHandOverAction"
          name="HandOverProjectAction">
    </command>
    <command
          id="org.iviPro.ui.ProjectCloseAction"
          name="CloseProjectAction">
    </command>
    <command
          id="org.iviPro.ui.OpenTocEditorAction"
          name="OpenTocEditorAction">
    </command>
 </extension>
</plugin>
